* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: Helvetica, sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 125px 1fr auto auto 50px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

h1 {
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 4px;
    color: #ffffff;
    text-align: center;
    padding: 10px 40px;
}

.company-logo {
    width: 200px;
    padding: 10px;
    margin: 0 100px 0 0;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    width: 100px;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 1.4px;
    margin: 5px;
    color: rgb(80, 80, 80);
}

#navbar ul li:hover {
    color: rgb(255, 255, 255);
    background-color: #295eb3;
    cursor: pointer;
    text-decoration: underline;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: calc(100vh - 125px);
}

.engineers {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
}

.slogan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(29, 29, 29, 0.712);
    width: 500px;
    height: 150px;
    position: absolute;
    border: 2px solid rgb(255, 255, 255);
    filter: drop-shadow(16px 16px 20px rgb(55, 93, 197));
    border-radius: 20px;
}

#about {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(64, 62, 156);
    padding: 40px 40px 40px 100px;
}

hr {
    border-color: rgb(255, 255, 255);
    width: 500px;
    margin: 20px 0;
}

h2 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
}

p {
    line-height: 1.4;
    letter-spacing: 1.4px;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    filter: drop-shadow(16px 16px 20px black);
}

.white {
    color: white;
}

#pictures-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.photo {
    flex: 1 1 calc(25% - 20px);
    max-width: 500px;
    height: 400px;
    object-fit: cover;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(36, 36, 36);
}

#footer p {
    font-size: 16px;
}