* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: Helvetica, sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 3fr;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

h1 {
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 1.5px;
    color: #224070;
    text-align: center;
    padding: 10px 40px;
    background-color: #c3cfe2;
}

.company-logo {
    width: 200px;
    padding: 10px;
    margin: 0 100px 0 0;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    width: 100px;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 1.4px;
    margin: 5px;
    color: rgb(80, 80, 80);
}

#navbar ul li:hover {
    color: rgb(255, 255, 255);
    background-color: #295eb3;
    cursor: pointer;
    text-decoration: underline;
}